%h1 Dashboard
%strong Dashboard General
|
= link_to 'Pricing', '/dashboard/pricing'
|
= link_to 'Eventos Pasados', '/dashboard/past_events'

%table
  %tr
    %th Fecha
    %th Nombre
    %th Ciudad
    %th Pipeline Participantes
    %th Completo al
  
  - weeks_from_now_p = -1
  - @events.each do |event|
    - weeks_from_now = event.date.cweek-Date.today.cweek
    - if weeks_from_now <= 1 
      - weeks_from_now=1
    - elsif weeks_from_now > 2
      - if weeks_from_now <= 4
        - weeks_from_now=4
      - elsif weeks_from_now <= 6
        - weeks_from_now=6
      - else
        - weeks_from_now=10
    - if weeks_from_now_p != weeks_from_now
      %tr{:style => 'background-color: #555555; color: #ffffff'}
        - if weeks_from_now <=6
          %td{:colspan => 7}= "Eventos a " + weeks_from_now.to_s + " semana(s)"
        - else
          %td{:colspan => 7}= "Eventos a más de 6 semanas"
      - weeks_from_now_p = weeks_from_now
    %tr
      %td= event.human_date
      - if event.event_type.nil?
        %td= "Sin Tipo de Evento"
      - else
        %td= event.event_type.short_name
      %td
        -if event.is_webinar?
          %img{:src => "/assets/online.png", :style => "vertical-align:middle"}
          Webinar/Online
        -else
          = event.city
      %td
        - if event.registration_link == ""
          - if event.participants.new_ones.count > 0
            %img{:src => "/assets/alert.png", :style => "vertical-align:middle"}
            %strong= link_to event.participants.new_ones.count.to_s + " nuevos", event_participants_path(event)
            >
          = link_to event.participants.contacted.count.to_s + " contactados", event_participants_path(event)
          >
          = link_to event.participants.confirmed.count.to_s + " confirmados", event_participants_path(event)
      %td
        - if event.registration_link == ""
          = (event.completion*100).round.to_s + "%"