%h1 Dashboard
%strong Dashboard General
|
= link_to 'Pricing', '/dashboard/pricing'

%table
  %tr
    %th Fecha
    %th Nombre
    %th Ciudad
    %th Pipeline Participantes
    %th Completo al
    
  - @events.each do |event|
    %tr
      %td= event.date.to_formatted_s(:short)
      - if event.event_type.nil?
        %td= "Sin Tipo de Evento"
      - else
        %td= event.event_type.short_name
      %td= event.city
      %td
        - if event.registration_link == ""
          - if event.participants.new_ones.count > 0
            %img{:src => "/assets/alert.png", :style => "vertical-align:middle"}
            %strong= link_to event.participants.new_ones.count.to_s + " nuevos", event_participants_path(event)
            >
          = link_to event.participants.contacted.count.to_s + " contactados", event_participants_path(event)
          >
          = link_to event.participants.confirmed.count.to_s + " confirmados", event_participants_path(event)
      %td
        - if event.registration_link == ""
          = (event.completion*100).round.to_s + "%"