%h1 Dashboard

%h2 Pricing

%table
  %tr
    %th Fecha
    %th Tipo de Evento
    %th Ciudad
    %th Precio Early Bird (Hasta)
    %th Precio de Lista
    %th Desc. 2p
    %th Desc. 3p
    
  - @events.each do |event|
    %tr
      %td= event.date.to_formatted_s(:short)
      - if event.event_type.nil?
        %td= "Sin Tipo de Evento"
      - else
        %td= event.event_type.name
      %td= event.city
      - if event.eb_price > 0
        - if event.list_price_plus_tax
          %td= event.eb_price.to_i.to_s + "+IVA (" + event.eb_end_date.to_formatted_s(:short) + ")"
        - else
          %td= event.eb_price.to_i.to_s + " (" + event.eb_end_date.to_formatted_s(:short) + ")"
      - else
        %td= " "
      - if event.list_price_plus_tax
        %td= event.list_price.to_i.to_s + "+IVA"
      - else
        %td= event.list_price.to_i.to_s
      %td= event.list_price_2_pax_discount
      %td= event.list_price_3plus_pax_discount