.page-header
  %h1.pull-left
    %i.icon-calendar-empty
    %span Eventos Pasados
.row-fluid
  .span12
    .row-fluid
      .span12.box.box-nomargin
        .box-header.green-background
          .title
            .icon-tasks
            Eventos Pasados
          .actions
            %a.btn.box-collapse.btn-mini.btn-link
              %i
        .box-content
          %ul.unstyled.tasks
            - printed_year = -1
            - @events.select{ |ev| !ev.event_type.nil? }.each do |event|
              - if printed_year != event.date.year
                %li
                  .span12.box.bordered-box.blue-border.blue-background{ :style => "margin-bottom:0;" }
                    .box-header.blue-background
                      .title= event.date.year.to_s 
                - printed_year = event.date.year
                %li
                  .row-fluid
                    .span1
                      &nbsp;
                      = event.human_date
                      %br
                      -if event.is_webinar? && false
                        %img{:src => "/assets/icons/webinar.png", :style => "vertical-align:middle; width:50%"}
                      - elsif false
                        %img{:src => "/assets/icons/presencial.png", :style => "vertical-align:middle; width:50%"}
                    .span11
                      .task
                        %span.pull-left
                          %a{ :href => "/events/#{event.id}/participants" }
                            %b= event.event_type.name
                            = "| " + event.city + " | " + event.place
                        %small.pull-right
                          = "Presentes: #{event.participants.attended.count.to_s}/#{event.capacity.to_s} "
                          %a.btn.btn-warning.btn-mini{ :href => "/events/#{event.id}/participants" }
                            %i.icon-group
                          &nbsp;
                          %a.btn.btn-warning.btn-mini{ :href => "/events/#{event.id}/participants_survey" }
                            %i.icon-check
                      - event_people_count = event.participants.attended.count.to_f + event.participants.confirmed.count.to_f
                      - if event_people_count > 0
                        - event_attended_percent = event.participants.attended.count.to_f / event_people_count
                      - else
                        - event_attended_percent = 0
                      - if event_attended_percent < 0.2
                        .progress.progress-small.progress-danger
                          .bar{ :style => "width: #{(event_attended_percent*100).round.to_s}%" }
                      - elsif event_attended_percent >= 0.2 && event_attended_percent < 0.5
                        .progress.progress-small.progress-info
                          .bar{ :style => "width: #{(event_attended_percent*100).round.to_s}%" }
                      - elsif event_attended_percent >= 0.5 && event_attended_percent < 0.8
                        .progress.progress-small
                          .bar{ :style => "width: #{(event_attended_percent*100).round.to_s}%" }
                      - elsif event_attended_percent >= 0.8
                        .progress.progress-small.progress-success
                          .bar{ :style => "width: #{(event_attended_percent*100).round.to_s}%" }