%h1 Dashboard
= link_to 'Dashboard General', '/dashboard'
|
%strong Pricing
|
= link_to 'Eventos Pasados', '/dashboard/past_events'

%br
Solo se listan los eventos comerciales públicos

%table
  %tr
    %th Fecha
    %th Nombre
    %th Ciudad
    %th E. Bird
    %th Precio de Lista
    %th Desc. 2p
    %th Desc. 3p
    
  - @events.each do |event|
    %tr
      %td= event.human_date
      - if event.event_type.nil?
        %td= "Sin Tipo de Evento"
      - else
        %td= event.event_type.short_name
      %td= event.city
      - if !event.eb_price.nil? && event.eb_price > 0
        - if event.list_price_plus_tax
          %td
            = event.eb_price.to_i.to_s + "+IVA"
            %br
            = "Hasta el " + event.eb_end_date.to_formatted_s(:short)
        - else
          %td
            = event.eb_price.to_i.to_s
            %br
            = "Hasta el " + event.eb_end_date.to_formatted_s(:short)
      - else
        %td= " "
      - if event.list_price_plus_tax
        %td= event.list_price.to_i.to_s + "+IVA"
      - else
        %td= event.list_price.to_i.to_s
      %td= event.list_price_2_pax_discount
      %td= event.list_price_3plus_pax_discount