.page-header
  %h1.pull-left
    %i.icon-money
    %span Pricing

= render '/commons/notice'

.row-fluid
  .span12.box.bordered-box.blue-border{ :style => "margin-bottom:0;" }
    .box-header.blue-background
      .title Solo se listan los eventos comerciales públicos
    .box-content.box-no-padding
      .responsive-table
        .scrollable-area
          %table.table{ :style => "margin-bottom:0;" }
            %thead
              %tr
                %th Fecha
                %th Nombre
                %th Ciudad
                %th E. Bird
                %th Precio de Lista
                %th Desc. 2p
                %th Desc. 3p
            %tbody
              - @events.each do |event|
                %tr
                  %td= event.human_date
                  - if event.event_type.nil?
                    %td= "Sin Tipo de Evento"
                  - else
                  %td= event.event_type.short_name
                  %td= event.city
                  - if !event.eb_price.nil? && event.eb_price > 0
                    - if event.list_price_plus_tax
                      %td
                        = "(#{event.currency_iso_code})"
                        = currency_symbol_for( event.currency_iso_code )
                        = sprintf("%05.2f", event.eb_price) + "+IVA"
                        %br
                        = "Hasta el " + event.eb_end_date.to_formatted_s(:short)
                    - else
                      %td
                        = "(#{event.currency_iso_code})"
                        = currency_symbol_for( event.currency_iso_code )
                        = sprintf("%05.2f", event.eb_price)
                        %br
                        = "Hasta el " + event.eb_end_date.to_formatted_s(:short)
                  - else
                    %td= " "
                  - if event.list_price_plus_tax
                    %td
                      = "(#{event.currency_iso_code})"
                      = currency_symbol_for( event.currency_iso_code )
                      = sprintf("%05.2f", event.list_price) + "+IVA"
                  - else
                    %td
                      = "(#{event.currency_iso_code})"
                      = currency_symbol_for( event.currency_iso_code )
                      = sprintf("%05.2f", event.list_price)
                  %td= event.list_price_2_pax_discount
                  %td= event.list_price_3plus_pax_discount