.page-header
  %h1.pull-left
    %i.icon-trophy
    %span Ratings

= render '/commons/notice'

.row-fluid
  .span12.box

    .box-header
      .title
        .icon-trophy
        Promedios generales

    .row-fluid
      .span4
        .box-content.box-statistic
          %h3.title.text-success
            = (@global_net_promoter_score*100).to_i
            = "(-100 a +100)"
          %small Net Promoter Score (NPS)* global de Kleer
          %br
          %small
            Basado en 
            = @global_attended_count.to_i
            opiniones de participantes
          .text-success.icon-heart.align-right
      .span4
        .box-content.box-statistic
          %h3.title.text-success
            = @average_event_rating
            = "(#{@average_event_rating*100/5}%)"
          %small Rating Global Promedio de los Eventos (1-5)
          %br
          %small
            Basado en 
            = @count_event_rating
            opiniones de participantes
          .text-success.icon-calendar.align-right
      .span4
        .box-content.box-statistic
          %h3.title.text-success
            = @average_trainer_rating
            = "(#{@average_trainer_rating*100/5}%)"
          %small Rating Global Promedio de los Trainers (1-5)
          %br
          %small
            Basado en 
            = @count_trainer_rating
            opiniones de participantes
          .text-success.icon-briefcase.align-right

    .box-header
      .title
        .icon-trophy
        Top 5 Net Promoter Scores (NPS)*

    .row-fluid
      .span6
        .row-fluid
          .span12.box.box-nomargin
            .box-header.green-background
              .title
                .icon-heart
                  Top 5 NPS* por Tipo de Evento
            .box-content
              %ul.unstyled.tasks
                - @top_5_nps_event_types.each do |et|
                  %li
                    = "#{(et.net_promoter_score*100).to_i} - #{et.name}"
                    = "(#{et.participants.select{|p| !p.promoter_score.nil?}.count} opiniones)"
      .span6
        .row-fluid
          .span12.box.box-nomargin
            .box-header.green-background
              .title
                .icon-heart
                  Top 5 NPS* por Trainer
            .box-content
              %ul.unstyled.tasks
                - @top_5_nps_trainers.each do |t|
                  %li
                    = "#{(t.net_promoter_score*100).to_i} - #{t.name}"
                    = "(#{t.participants.select{|p| !p.promoter_score.nil?}.count} opiniones)"

    .box-header
      .title
        .icon-trophy
        Top 10 Ratings

    .row-fluid
      .span4
        .row-fluid
          .span12.box.box-nomargin
            .box-header.green-background
              .title
                .icon-tasks
                  Top 10 Tipos de Evento
            .box-content
              %ul.unstyled.tasks
                - @top_10_event_types.each do |et|
                  %li
                    = "#{et.average_rating} - #{et.name}"
                    = "(#{et.participants.select{|p| !p.event_rating.nil?}.count} opiniones)"
      .span4
        .row-fluid
          .span12.box.box-nomargin
            .box-header.green-background
              .title
                .icon-calendar
                  Top 10 Eventos
            .box-content
              %ul.unstyled.tasks
                - @top_10_events.each do |e|
                  %li
                    = "#{e.average_rating} - #{e.event_type.name}"
                    = "(#{e.participants.select{|p| !p.event_rating.nil?}.count} opiniones)"

      .span4
        .row-fluid
          .span12.box.box-nomargin
            .box-header.green-background
              .title
                .icon-briefcase
                  Top 10 Trainers
            .box-content
              %ul.unstyled.tasks
                - @top_10_trainers.each do |t|
                  %li
                    = "#{t.average_rating.round(2)} - #{t.name}"
                    = "(#{t.participants.select{|p| !p.trainer_rating.nil?}.count} opiniones)"

    .box-header
      .title
        .icon-asterisk
        ¿Cómo se calcula el Net Promoter Score (NPS)?
    .row-fluid
      .span12
        %p
          En las encuestas de eventos, se hace una simple pregunta: 
          %strong
            %i
              "¿Qué tan probable es que recomiendes este evento a un amigo o colega?"
        %p
          La respuesta debe ser un número del 0 (no lo recomiendo) al 10 (si lo recomiendo)

        %p
          Según las respuestas, se identifican los siguientes grupos:
          %ul
            %li
              %strong
                Promotores:
              Quienes han respondido 9 o 10
            %li
              %strong
                Pasivos:
              Quienes han respondido 7 u 8
            %li
              %strong
                Detractores:
              Quienes han respondido entre 0 y 6

        %p
          El 
          %strong
            Net Promoter Score (NPS)
          se calcula restando el porcentaje de
          %strong
            Detractores
          al porcentaje de
          %strong
            Promotores

        %p
          NPS = %Promotores - %Detractores

        %p
          %a{ :href => "http://www.netpromoter.com/why-net-promoter/know/" }
            Ver más información sobre el NPS >>
