= semantic_form_for [:event, @participant] do |f|
  = f.inputs do
    = f.input :fname
    = f.input :lname
    - if @event.is_webinar? && @event.list_price == 0.0
      = f.input :email, :hint => "Te contactaremos a este e-mail para confirmar tu registro al webinar."
      = f.input :phone
    - else
      = f.input :email
      = f.input :phone, :hint => "Una persona de Kleer se contactará a este teléfono para continuar con tu inscripción."
  
  = f.actions do
    = f.action :submit, :label => "Registrarme"
    %img{ :src => "/assets/ajax-loader.gif", :id => "loader_img" }

:javascript
  $(document).ready(function() {
    $('[name="commit"]').click( function() { setLoading() } );
    $("#loader_img").hide();
  })

  function setLoading() {
    $('[name="commit"]').val("Registro en progreso ...");
    $('[name="commit"]').attr('disabled','disabled');
    $("#loader_img").show();
    $("#new_participant").submit();
  }