= form_for [:event, @participant] do |f|
  %fieldset.inputs
    - if @nakedform
      %input{ :type => "hidden", :name => "nakedform", :value => "1" }
    .row-fluid
      .span12
        .control-group
          = f.text_field :fname, :class => "span12", :placeholder => I18n.t("formtastic.labels.participant.fname")
    .row-fluid
      .span12
        .control-group
          = f.text_field :lname, :class => "span12", :placeholder => I18n.t("formtastic.labels.participant.lname")
    .row-fluid
      .span12
        .control-group
          - email_placeholder = I18n.t("formtastic.labels.participant.email")
          - if @event.is_webinar? && @event.list_price == 0.0
            - email_placeholder += " (confirmaremos tu registro en este email)"
          = f.text_field :email, :class => "span12", :placeholder => email_placeholder
    .row-fluid
      .span12
        .control-group
          = f.text_field :phone, :class => "span12", :placeholder => I18n.t("formtastic.labels.participant.phone")
    - if @event.should_ask_for_referer_code
      .row-fluid
        .span12
          .control-group
            = f.text_field :referer_code, :class => "span12", :placeholder => I18n.t("formtastic.labels.participant.referer_code")
    .row-fluid
      .span12
        .control-group
          = f.text_area :notes, :class => "span12 autogrow", :placeholder => I18n.t("formtastic.labels.participant.notes"), :rows => 2
    .row_fluid
      = f.collection_select :influence_zone_id, @influence_zones, :id, :display_name, {include_blank: I18n.t("formtastic.labels.participant.zone")}
    .row-fluid
      .span12
        .form-actions{ :style => "padding: 4px 20px 4px; margin-top: 0px;"}
          .text-right
            %img{ :src => "/assets/ajax-loader.gif", :id => "loader_img" }
            %button.btn.btn-primary{:name => "commit", :type => "submit", :style => "margin-top: 0px;"}
              %i.icon-save
              - if @event.is_community_event?
                = I18n.t("formtastic.button.participant.register")
              - else
                = I18n.t("formtastic.button.participant.more_info")

- if @participant.errors.full_messages.count > 0
  :javascript
    alert("Todos los campos son requeridos");

:javascript
  $(document).ready(function() {
    $('[name="commit"]').click( function() { setLoading() } );
    $("#loader_img").hide();
  })

  function setLoading() {
    $('[name="commit"]').val("Registro en progreso ...");
    $('[name="commit"]').attr('disabled','disabled');
    $('[name="commit"]').attr('class', 'btn btn-primary disabled');
    $("#loader_img").show();
    $("#new_participant").submit();
  }