.page-header
  %h1.pull-left
    %i.icon-group
    %span Lista de Inscriptos
  .pull-right
    %a.btn.btn-white{ :href => event_participants_path(@event) }
      %i.icon-rotate-right 
      Actualizar
    %a.btn.btn-white{ :href => new_event_participant_path, :target => "_blank" }
      %i.icon-user
      Nueva Inscripción
    - if @event.participants.count > 0
      %a.btn.btn-white{ :href => event_participants_path(@event) + ".csv" }
        %i.icon-cloud-download
        Bajar Listado (CSV)
      %a.btn.btn-white{ :href => "./participants_print", :target => "_blank" }
        %i.icon-print
        Lista de Asistencia
      %a.btn.btn-white{ "data-toggle" => "modal", :href => "#modal-push-confirmation", :role => "button" }
        %i.icon-circle-arrow-right
        CapsuleCRM

.modal.hide.fade#modal-push-confirmation{ :role => :dialog, :tabindex => -1 }
  .modal-header
    %button.close{ "data-dismiss" => :modal, :type => "button" }
      &times;
    %h3 
      Finalizar evento y enviar participantes a CapsuleCRM
  .modal-body
    %h4
      ¡Atención!
    %p
      Esta operación creará las personas en CapsuleCRM y aplicará los tags del curso y trainer a quienes están marcado como "Confirmados" o "Presentes". Antes de seguir, asegúrate que el evento ya haya finalizado y que quienes estuvieron ausentes estén marcados como "Pospuestos" o "Cancelados".
    %p
      ¿Estás seguro/a de continuar?
  .modal-footer
    %button.btn{ "data-dismiss" => "modal" }
      No, cancelar :(
    %a.btn.btn-primary{ :href => "./push_to_crm" }
      Si, continuar! :)

= render '/commons/notice'

.row-fluid
  .span12.box.bordered-box.blue-border{ :style => "margin-bottom:0;" }
    .box-header.blue-background
      .title= @event.event_type.name + " - " + @event.date.to_formatted_s(:short) + " - " + @event.city 
    .box-content.box-no-padding
      .responsive-table
        .scrollable-area
.row-fluid

  .span4
    - if @event.completion < 0.2
      .box-content.box-statistic.red-background
        %h3.title.text-primary= (@event.completion*100).round.to_s + "%"
        %small= "Completo (Restan " + (@event.capacity-@event.participants.confirmed.count).to_s + " personas)"
        .text-primary.icon-group.align-right
    - elsif @event.completion >= 0.2 && @event.completion < 0.5
      .box-content.box-statistic.orange-background
        %h3.title.text-primary= (@event.completion*100).round.to_s + "%"
        %small= "Completo (Restan " + (@event.capacity-@event.participants.confirmed.count).to_s + " personas)"
        .text-primary.icon-group.align-right
    - elsif @event.completion >= 0.5 && @event.completion < 0.8
      .box-content.box-statistic.blue-background
        %h3.title.text-primary= (@event.completion*100).round.to_s + "%"
        %small= "Completo (Restan " + (@event.capacity-@event.participants.confirmed.count).to_s + " personas)"
        .text-primary.icon-group.align-right
    - elsif @event.completion >= 0.8
      .box-content.box-statistic.green-background
        %h3.title.text-primary= (@event.completion*100).round.to_s + "%"
        %small= "Completo (Restan " + (@event.capacity-@event.participants.confirmed.count).to_s + " personas)"
        .text-primary.icon-group.align-right
  .span2
    .box-content.box-statistic
      %h3.title.text-error
        = @event.participants.new_ones.count
      %small Nuevos
      .text-error.icon-inbox.align-right
  .span2
    .box-content.box-statistic
      %h3.title.text-info
        = @event.participants.contacted.count
      %small Contactados
      .text-info.icon-comments.align-right
  .span2
    .box-content.box-statistic
      %h3.title.text-primary
        = @event.participants.confirmed.count
      %small= "Confirmados"
      .text-primary.icon-check.align-right
  .span2
    .box-content.box-statistic
      %h3.title.text-success
        = @event.participants.attended.count
      %small= "Presentes"
      .text-success.icon-user.align-right

  %br

.row-fluid
  .span12.box.bordered-box.blue-border{ :style => "margin-bottom:0;" }
    .box-header.green-background
      .title Lista de Inscriptos
    .box-content.box-no-padding
      .responsive-table
        .scrollable-area
          %table.table{ :style => "margin-bottom:0;" }
            %thead
              %tr
                %th Fecha
                %th Participante
                %th 
                %th Estado
                %th Notas
                %th
            %tbody
              - @participants.each do |participant|
                %tr
                  %td{ :style => "white-space:normal;"}= l participant.created_at, :format => :short
                  %td{ :style => "white-space:normal;"}
                    %span{ :style => "white-space:nowrap;"}
                      %i.icon-user
                      = participant.fname + " " + participant.lname
                    %br
                    %span{ :style => "white-space:nowrap;"}
                      %i.icon-envelope-alt
                      = participant.email
                  %td{ :style => "white-space:normal;"}
                    %span{ :style => "white-space:nowrap;"}
                      %i.icon-phone-sign
                      = participant.phone
                    %br
                    %span{ :style => "white-space:nowrap;"}
                      %i.icon-globe
                      = participant.influence_zone.nil? ? "N/A" : participant.influence_zone.display_name
                    %br
                    %span{ :style => "white-space:nowrap;"}
                      %i.icon-tag
                      = participant.influence_zone.nil? ? "N/A" : participant.influence_zone.tag_name
                  - if participant.status == "N"
                    %td{:style=>"background-color: #f34541;color: #FFFFFF;"}Nuevo
                  - elsif participant.status == "T"
                    %td{:style=>"background-color: #9564e2;color: #FFFFFF;"}Contactado
                  - elsif participant.status == "C"
                    %td{:style=>"background-color: #00acec;color: #FFFFFF;"}Confirmado
                  - elsif participant.status == "A"
                    %td{:style=>"background-color: #49bf67;color: #FFFFFF;"}Presente
                  - elsif participant.status == "X"
                    %td{:style=>"background-color: #f8a326; color: #FFFFFF;"}Cancelado
                  - elsif participant.status == "D"
                    %td{:style=>"background-color: #f8a326; color: #FFFFFF;"}Postergado
                  %td{ :style => "white-space:pre-line;"}= participant.notes
                  %td
                    %a.btn.btn-warning.btn-mini{ :href => edit_event_participant_path(participant.event, participant), :id => "modificar" }
                      %i.icon-edit
