%h1= @event.event_type.name + " - " + @event.date.to_formatted_s(:short) + " - " + @event.city
%h6
  = (@event.completion*100).round.to_s + "% completo."
  |
  = @event.participants.confirmed.count.to_s + " confirmados"
  |
  = @event.capacity.to_s + " posibles"
  |
  = (@event.capacity-@event.participants.confirmed.count).to_s + " por confirmar"
= link_to 'Actualizar', event_participants_path(@event)
|
= link_to 'Nuevo Registro', new_event_participant_path, :target => "_blank"
|
= link_to 'Bajar Listado (CSV)', event_participants_path(@event) + ".csv"


%table
  %tr
    %th Registrado
    %th Nombre
    %th Apellido
    %th Email
    %th Teléfono
    %th Estado
    %th Notas
    %th

  - @participants.each do |participant|
    %tr
      %td= l participant.created_at, :format => :short
      %td= participant.fname
      %td= participant.lname
      %td= participant.email
      %td= participant.phone
      - if participant.status == "N"
        %td{:style=>"background-color: #ffff00;"}Nuevo
      - elsif participant.status == "T"
        %td{:style=>"background-color: #e06666;"}Contactado
      - elsif participant.status == "C"
        %td{:style=>"background-color: #00ff00;"}Confirmado
      - elsif participant.status == "X"
        %td{:style=>"background-color: #ff0000; color: #FFFFFF;"}Cancelado
      - elsif participant.status == "D"
        %td{:style=>"background-color: #ff0000; color: #FFFFFF;"}Postergado
      %td= participant.notes
      %td= link_to 'Modificar', edit_event_participant_path(participant.event, participant)