:css
  .purr {
    position: fixed;
    top: 30px;
    right: 100px;
    width: 250px;
    padding: 20px;
    background-color: #FCC;
    border: solid 2px #C66;
    &:first-letter { text-transform: uppercase; }
  }

.page-header
  %h1.pull-left
    %i.icon-group
    %span Lista de Inscriptos
  .pull-right
    %a.btn.btn-white{ :href => event_participants_path(@event) }
      %i.icon-rotate-right 
    %a.btn.btn-white{ "data-toggle" => "modal", :href => "#modal-batch-load", :role => "button", :title => "Enviar Participantes a CapsuleCRM" }
      %i.icon-user
      Nuevo(s)
    - if @event.participants.count > 0
      %a.btn.btn-white{ :href => event_participants_path(@event) + ".csv" }
        %i.icon-cloud-download
        Listado (CSV)
      %a.btn.btn-white{ :href => "./participants_print", :target => "_blank" }
        %i.icon-print
        Lista de Asistencia
      %a.btn.btn-white{ "data-toggle" => "modal", :href => "#modal-push-confirmation", :role => "button", :title => "Enviar Participantes a CapsuleCRM" }
        %i.icon-circle-arrow-right
        %i.icon-group
        CapsuleCRM
      %a.btn.btn-white{ "data-toggle" => "modal", :href => "#modal-cert-confirmation", :role => "button", :title => "Enviar Certificados de Asistencia a los Participantes" }
        %i.icon-circle-arrow-right
        %i.icon-certificate
        Certificados

.modal.hide.fade#modal-push-confirmation{ :role => :dialog, :tabindex => -1 }
  .modal-header
    %button.close{ "data-dismiss" => :modal, :type => "button" }
      &times;
    %h3 
      Finalizar evento y enviar participantes a CapsuleCRM
  .modal-body
    %h4
      ¡Atención!
    %p
      Esta operación creará las personas en CapsuleCRM y aplicará los tags del curso y trainer SOLO a quienes están marcados como "Presente". Antes de seguir, asegúrate que el evento ya haya finalizado, que las personas que participaron estén marcadas como "Presente" y que quienes estuvieron ausentes estén marcados como "Postergado" o "Cancelado".
    %p
      ¿Estás seguro/a de continuar?
  .modal-footer
    %button.btn{ "data-dismiss" => "modal" }
      No, cancelar :(
    %a.btn.btn-primary{ :href => "./push_to_crm" }
      Si, continuar! :)

.modal.hide.fade#modal-cert-confirmation{ :role => :dialog, :tabindex => -1 }
  .modal-header
    %button.close{ "data-dismiss" => :modal, :type => "button" }
      &times;
    %h3 
      Enviar Cetificados de Asistencia
  .modal-body
    %h4
      ¡Atención!
    %p
      Esta operación enviará certificados de asistencia SOLO a las personas en que están marcadas como "Presente". Antes de seguir, asegúrate que el evento ya haya finalizado, que las personas que participaron estén marcadas como "Presente" y que quienes estuvieron ausentes estén marcados como "Postergado" o "Cancelado".
    %p
      ¿Estás seguro/a de continuar?
  .modal-footer
    %button.btn{ "data-dismiss" => "modal" }
      No, cancelar :(
    %a.btn.btn-primary{ :href => "./send_certificate" }
      Si, continuar! :)

.modal.hide.fade#modal-batch-load{ :role => :dialog, :tabindex => -1 }
  .modal-header
    %button.close{ "data-dismiss" => :modal, :type => "button" }
      &times;
    %h3 
      Carga Rápida de Participantes
  .modal-body
    = render '/commons/notice'
    = form_tag("./participants_batch_load", method: "post", id: "bulk_form") do |f|
      .control-group
        .control-label
          Participantes (uno por línea, atributos separados por comas o TABS)
        .controls
          %small.muted
            En este orden: APELLIDO, NOMBRE, E-MAIL, TELÉFONO
          %textarea.span12#participants_batch{ :rows => 10, :placeholder => "Tortorella, Pablo, pablo.tortorella@kleer.la, N/A", :name => "participants_batch", :value => flash[:batch_output] }
      .control-group
        .control-label
          Estado (aplica a todos)
        .controls
          = select_tag :status, options_from_collection_for_select( [["Nuevo", "N"], ["Contactado", "T"], ["Confirmado", "C"], ["Presente", "A"], ["Cancelado", "X"], ["Pospuesto", "D"]], :last, :first )
      .control-group
        .control-label
          Zona de Influencia (aplica a todos)
        .controls
          = select_tag :influence_zone_id, options_from_collection_for_select(@influence_zones,"id", "display_name")
  .modal-footer
    %button.btn{ "data-dismiss" => "modal" }
      No, cancelar :(
    %button.btn.btn-primary{ :id => "bulk_submit_btn" }
      Si, continuar! :)      

= render '/commons/notice'

.row-fluid
  .span12.box.bordered-box.blue-border{ :style => "margin-bottom:0;" }
    .box-header.blue-background
      .title= @event.event_type.name + " - " + @event.date.to_formatted_s(:short) + " - " + @event.city 
    .box-content.box-no-padding
      .responsive-table
        .scrollable-area
.row-fluid

  .span4
    - if @event.completion < 0.2
      .box-content.box-statistic.red-background
        %h3.title.text-primary= (@event.completion*100).round.to_s + "%"
        %small= "Completo (Restan " + (@event.capacity-@event.participants.confirmed.count).to_s + " personas)"
        .text-primary.icon-group.align-right
    - elsif @event.completion >= 0.2 && @event.completion < 0.5
      .box-content.box-statistic.orange-background
        %h3.title.text-primary= (@event.completion*100).round.to_s + "%"
        %small= "Completo (Restan " + (@event.capacity-@event.participants.confirmed.count).to_s + " personas)"
        .text-primary.icon-group.align-right
    - elsif @event.completion >= 0.5 && @event.completion < 0.8
      .box-content.box-statistic.blue-background
        %h3.title.text-primary= (@event.completion*100).round.to_s + "%"
        %small= "Completo (Restan " + (@event.capacity-@event.participants.confirmed.count).to_s + " personas)"
        .text-primary.icon-group.align-right
    - elsif @event.completion >= 0.8
      .box-content.box-statistic.green-background
        %h3.title.text-primary= (@event.completion*100).round.to_s + "%"
        %small= "Completo (Restan " + (@event.capacity-@event.participants.confirmed.count).to_s + " personas)"
        .text-primary.icon-group.align-right
  .span2
    .box-content.box-statistic
      %h3.title.text-error
        = @event.participants.new_ones.count
      %small Nuevos
      .text-error.icon-inbox.align-right
  .span2
    .box-content.box-statistic
      %h3.title.text-info
        = @event.participants.contacted.count
      %small Contactados
      .text-info.icon-comments.align-right
  .span2
    .box-content.box-statistic
      %h3.title.text-primary
        = @event.participants.confirmed.count
      %small= "Confirmados"
      .text-primary.icon-check.align-right
  .span2
    .box-content.box-statistic
      %h3.title.text-success
        = @event.participants.attended.count
      %small= "Presentes"
      .text-success.icon-user.align-right

  %br

.row-fluid
  .span12.box.bordered-box.blue-border{ :style => "margin-bottom:0;" }
    .box-header.green-background
      .title Lista de Inscriptos
    .box-content.box-no-padding
      .responsive-table
        .scrollable-area
          %table.table{ :style => "margin-bottom:0;" }
            %thead
              %tr
                %th Fecha
                %th Participante
                %th 
                %th Estado
                %th Notas
                %th
            %tbody
              - @participants.each do |participant|
                - if participant.status == "N"
                  - cell_background_color = "#f34541"
                - elsif participant.status == "T"
                  - cell_background_color = "#9564e2"
                - elsif participant.status == "C"
                  - cell_background_color = "#00acec"
                - elsif participant.status == "A"
                  - cell_background_color = "#49bf67"
                - elsif participant.status == "X"
                  - cell_background_color = "#f8a326"
                - elsif participant.status == "D"
                  - cell_background_color = "#f8a326"
                %tr
                  %td{ :style => "white-space:normal;"}= l participant.created_at, :format => :short
                  %td{ :style => "white-space:normal;"}
                    %span{ :style => "white-space:nowrap;"}
                      %i.icon-user
                      = best_in_place participant, :fname, :path => "/events/#{participant.event.id}/participants/#{participant.id}", :classes => ['editable','editable-click']
                      = " "
                      = best_in_place participant, :lname, :path => "/events/#{participant.event.id}/participants/#{participant.id}", :classes => ['editable','editable-click']
                    %br
                    %span{ :style => "white-space:nowrap;"}
                      %i.icon-envelope-alt
                      = best_in_place participant, :email, :path => "/events/#{participant.event.id}/participants/#{participant.id}", :classes => ['editable','editable-click']
                  %td{ :style => "white-space:normal;"}
                    %span{ :style => "white-space:nowrap;"}
                      %i.icon-phone-sign
                      = best_in_place participant, :phone, :path => "/events/#{participant.event.id}/participants/#{participant.id}", :classes => ['editable','editable-click']
                    %br
                    %span{ :style => "white-space:nowrap;"}
                      %i.icon-globe
                      = best_in_place participant, :influence_zone_id, :type => :select, :path => "/events/#{participant.event.id}/participants/#{participant.id}", :collection => @influence_zones.map{ |i| [i.id, "#{i.display_name}"] }, :classes => ['editable','editable-click']
                    %br
                    %span{ :style => "white-space:nowrap;"}
                      %i.icon-tag
                      = participant.influence_zone.nil? ? "N/A" : participant.influence_zone.tag_name
                  %td{:style=>"background-color: #{cell_background_color};color: #FFFFFF;"}
                    = best_in_place participant, :status, :type => :select, :path => "/events/#{participant.event.id}/participants/#{participant.id}", :collection => [["N", "Nuevo"], ["T", "Contactado"], ["C", "Confirmado"], ["A", "Presente"], ["X", "Cancelado"], ["D", "Postergado"]], :classes => ['color_on_success','editable','editable-click']
                  %td{ :style => "white-space:pre-line;"}
                    = best_in_place participant, :notes, :type => :textarea, :path => "/events/#{participant.event.id}/participants/#{participant.id}", :classes => ['editable','editable-click']
                  %td
                    %a.btn.btn-warning.btn-mini{ :href => edit_event_participant_path(participant.event, participant), :id => "modificar" }
                      %i.icon-edit
                    - if participant.status == "A"
                      &nbsp;
                      %a.btn.btn-warning.btn-mini{ :href => "/events/#{participant.event.id}/participants/#{participant.id}/certificate.pdf?page_size=A4&verification_code=#{participant.verification_code}", :id => "modificar" }
                        %i.icon-certificate

:javascript

  $(document).ready(function() {
    /* Activating Best In Place */
    jQuery(".best_in_place").best_in_place();
  });

  $('#bulk_submit_btn').click(function() {
    $('#bulk_form').submit();
  });

  $('.color_on_success').bind("ajax:success", function() { 
    cellBackgroundColor = getCellBackgroundColor( $(this).html() );
    $(this).closest('td').css('background', cellBackgroundColor );
  });

  function getCellBackgroundColor(cellValue) {
    switch( cellValue ) {
      case "Nuevo":
        return "#f34541";
        break;
      case "Contactado":
        return "#9564e2";
        break;
      case "Confirmado":
        return "#00acec";
        break;        
      case "Presente":
        return "#49bf67";
        break;
      case "Cancelado":
        return "#f8a326";
        break;
      case "Postergado":
        return "#f8a326";
        break;
      default:
        return "#f34541";
    }
  }