:css
  @media all {
    .page-break { display: none; }
  }
  @media print {
    .page-break { display: block; page-break-before: always; }
  }
  
  body{ font-size: 11pt;line-height:1; }

- i = 0
- @participants.each_slice(10) do |batch|
  %h3= @event.event_type.name + " - " + @event.human_date + " - " + @event.city
  %center
    %table{ :border => 1, :width => "90%", :cellpadding => "10" }
      %tr
        %td{ :width => "5%" }
          &nbsp;
        %td{ :style => "font-weight:bold;", :width => "20%"}
          Nombre
        %td{ :style => "font-weight:bold;", :width => "20%"}
          Apellido
        %td{ :style => "font-weight:bold;", :width => "40%"}
          Email
        %td{ :style => "font-weight:bold;", :width => "15%" }
          Firma
      - batch.each do |participant|
        - i += 1
        %tr
          %td{ :valign => "top" }
            = i
          %td{ :valign => "top" }
            = participant.fname
          %td{ :valign => "top" }
            = participant.lname
          %td{ :valign => "top" }
            = participant.email
            %br
            Cambiar por:
          %td
            &nbsp;
            %br
            &nbsp;
  #page-break.page-break
      
:javascript
  window.print();
