%p#notice= notice

%p
  %b Fname:
  = @participant.fname
%p
  %b Lname:
  = @participant.lname
%p
  %b Email:
  = @participant.email
%p
  %b Phone:
  = @participant.phone
%p
  %b Event:
  = @participant.event

= link_to 'Edit', edit_event_participant_path(@participant)
\|
= link_to 'Back', event_participants_path
