.page-header
  %h1.pull-left
    %i.icon-user
    %span Usuarios

= render '/commons/not_migrated_yet'

%p.record-actions
  = link_to t('formtastic.actions.new'), new_user_path

%table
  %tr
    %th= t('formtastic.labels.user.email')
    %th= t('formtastic.labels.user.roles')
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.email
      %td
        - for role in user.roles
          = role.name
          %br
      %td= link_to t('formtastic.actions.view'), user
      %td= link_to t('formtastic.actions.edit'), edit_user_path(user)
      %td= link_to t('formtastic.actions.destroy'), user, :confirm => 'Are you sure?', :method => :delete

