%h1 Listing users

%table
  %tr
    %th Email
    %th Password
    %th Password confirmation
    %th Remember me
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.password
      %td= user.password_confirmation
      %td= user.remember_me
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User', new_user_path
