%p#notice= notice

%p
  %b Email:
  = @user.email
%p
  %b Password:
  = @user.password
%p
  %b Password confirmation:
  = @user.password_confirmation
%p
  %b Remember me:
  = @user.remember_me

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
