= semantic_form_for @event do |f|

  - f.inputs :event_details do
    .grid_12
      = f.input :event_type, :as => :select, :collection => EventType.find(:all)
    .grid_3
      = f.input :date, :as => :string, :input_html => {:class => 'datepicker-class', :size => 6 }
    .grid_3
      = f.input :duration, :input_html => { :size => 3 }
    .grid_3
      = f.input :capacity, :input_html => { :size => 3 }
    .grid_12
      = f.input :is_webinar
    .grid_12
      = f.input :start_time
      = f.input :end_time
      = f.input :place
    .grid_3
      = f.input :country, :as => :select, :collection => Country.find(:all), :input_html => { :style => "width: 200px" }
    .grid_8
      = f.input :city
    .grid_12
      #trainer_select
        = render :partial => 'trainers_select'
      = f.input :visibility_type, :as => :radio, :collection => { t('event.type.public') => "pu", t('event.type.private') => "pr", t('event.type.community') => "co" }
    .grid_3
      = f.input :list_price, :as => :number, :input_html => { :size => 2 }
      = f.input :list_price_plus_tax
    .grid_3
      = f.input :list_price_2_pax_discount, :as => :string, :input_html => { :size => 2 }
    .grid_6
      = f.input :list_price_3plus_pax_discount, :as => :string, :input_html => { :size => 2 }
    .grid_12
    .grid_3
      = f.input :eb_price, :as => :number, :input_html => { :size => 2 }
    .grid_6
      = f.input :eb_end_date, :as => :string, :input_html => {:class => 'datepicker-class', :size => 6 }
    .grid_12
      = f.input :registration_link
      = f.input :sepyme_enabled 
      = f.input :is_sold_out
      = f.input :draft
      = f.input :cancelled
    .grid_12
      = f.actions

:javascript
  bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });

  $(document).ready(function() {
    $("#event_visibility_type_pu").change( function() { eventTypeActions( $(this).val() ); });
    $("#event_visibility_type_pr").change( function() { eventTypeActions( $(this).val() ); });
    $("#event_visibility_type_co").change( function() { eventTypeActions( $(this).val() ); });
    $("#event_event_type_id").change( function() { dynamicallyFillTrainersForEventType( $(this).val() ); });

    $("#event_date").change( function() { eventDateChanged( $(this).val() ); });

    $("#event_is_webinar").change( function() { eventWebinarToggle(); });

    if ( $("#event_visibility_type_pr").is(":checked") ) {
      $("#event_visibility_type_pr").trigger('change');
    } 
    else if ( $("#event_visibility_type_co").is(":checked") ) {
      $("#event_visibility_type_co").trigger('change');
    }

  })

  function eventTypeActions( value ) {
    if (value === "pu") {
      $("#event_list_price_2_pax_discount_input").show();
      $("#event_list_price_3plus_pax_discount_input").show();
      $("#event_eb_price_input").show();
      $("#event_eb_end_date_input").show();
      $("#event_list_price_input").show();
      $("#event_list_price_plus_tax_input").show();
    }
    else if (value === "co") {
      $("#event_list_price_2_pax_discount").val("");
      $("#event_list_price_2_pax_discount_input").hide();
      $("#event_list_price_3plus_pax_discount").val("");
      $("#event_list_price_3plus_pax_discount_input").hide();
      $("#event_eb_price_input").hide();
      $("#event_eb_end_date_input").hide();
      $("#event_list_price").val( 0 );
      $("#event_list_price_input").hide();
      $("#event_list_price_plus_tax_input").hide();
    }
    else if (value === "pr") {
      $("#event_list_price_2_pax_discount").val("");
      $("#event_list_price_2_pax_discount_input").hide();
      $("#event_list_price_3plus_pax_discount").val("");
      $("#event_list_price_3plus_pax_discount_input").hide();
      $("#event_eb_price_input").hide();
      $("#event_eb_end_date_input").hide();
      $("#event_list_price_input").show();
      $("#event_list_price_plus_tax_input").show();
    }
  }

  function eventDateChanged( value ) {
    var date_string = value.substr(6,4) + "-" + value.substr(3,2) + "-" + value.substr(0,2);   

    var event_date = new Date( date_string );
    
    var eb_date = new Date( date_string );
    eb_date.setDate( event_date.getDate()-9 );

    var eb_date_day = eb_date.getDate();
    var eb_date_month = eb_date.getMonth()+1;
    var eb_date_year = eb_date.getFullYear();

    if (eb_date_day<10) eb_date_day = "0"+eb_date_day;
    if (eb_date_month<10) eb_date_month = "0"+eb_date_month;

    var eb_new_date = eb_date_day + "-" + eb_date_month + "-" + eb_date_year;
    $("#event_eb_end_date").val( eb_new_date );

  }

  function eventWebinarToggle() {
     if ( $("#event_is_webinar").is(":checked") ) {
         $("#event_city").val( "Webinar" );
     } else {
         $("#event_city").val( "" );
     }
  }

  function dynamicallyFillTrainersForEventType( eventTypeID ) {
    if(eventTypeID == "") eventTypeID="0";
    jQuery.get('/events/update_trainer_select/' + eventTypeID, function(data) {
        $("#trainer_select").html(data);
    })
    return false;
  }