= semantic_form_for @event, :url => "/events/#{@event.id}/broadcast_webinar" do |f|
  
  - f.inputs do
    .grid_12
    = f.input :embedded_player
    .grid_12
    = f.input :twitter_embedded_search
    .grid_12
    = f.input :notify_webinar_start
    .grid_12
    = f.actions do
      = f.action :submit, :label => "Iniciar Webinar"
      %img{ :src => "/assets/ajax-loader.gif", :id => "loader_img" }

:javascript
  $(document).ready(function() {
    $('[name="commit"]').click( function() { setLoading() } );
    $("#loader_img").hide();
  })

  function setLoading() {
    $('[name="commit"]').val("Iniciando webinar ...");
    $('[name="commit"]').attr('disabled','disabled');
    $("#loader_img").show();
    $("#edit_event_#{@event.id}").submit();
  }