- @event.errors.full_messages.each do |msg|
  .alert.alert-error
    %a.close{ "data-dismiss" => :alert, :href => "#" } &times;
    =msg

.row-fluid
  .span12.box
    .box-header.green-background
      .title
        .icon-play
          = "Iniciando Webinar: #{@event.event_type.name}"
    .box-content
      = form_for @event, :url => "/events/#{@event.id}/broadcast_webinar" do |f|
        %fieldset.inputs
          .row-fluid
            .span6
              .control-group
                %label.control-label{ :for => :embedded_player }= t("formtastic.labels.event.embedded_player")
                = f.text_area :embedded_player, :rows => 8, :class => "input-block-level"
            .span6
              .control-group
                %label.control-label{ :for => :twitter_embedded_search }= t("formtastic.labels.event.twitter_embedded_search")
                = f.text_area :twitter_embedded_search, :rows => 8, :class => "input-block-level"
          .row-fluid
            .span12
              .control-group
                %label.checkbox
                  = f.check_box :notify_webinar_start
                  = t("formtastic.labels.event.notify_webinar_start")
          .row-fuid
            .span12
              .form-actions
                .text-right
                  %img{ :src => "/assets/ajax-loader.gif", :id => "loader_img" }
                  %button.btn.btn-primary.btn-large{:name => "commit", :type => "submit"}
                    %i.icon-play
                    Iniciar Webinar
                  %a.btn.btn-large{ :href => events_path }
                    %i.icon-undo
                    Cancelar

:javascript
  $(document).ready(function() {
    $('[name="commit"]').click( function() { setLoading() } );
    $("#loader_img").hide();
  })

  function setLoading() {
    $('[name="commit"]').val("Iniciando webinar ...");
    $('[name="commit"]').attr('disabled','disabled');
    $("#loader_img").show();
    $("#edit_event_#{@event.id}").submit();
  }