%h1 Eventos Confirmados

%p.record-actions
  = link_to t('formtastic.actions.new'), new_event_path

%table
  %tr
    %th Fecha
    %th Tipo de Evento
    %th Ciudad
    %th País
    %th Tipo
    %th Estado
    %th{:colspan => 2} Acciones
    
  - @events.each do |event|
    %tr
      %td= event.human_date
      - if event.event_type.nil?
        %td= link_to "Sin Tipo de Evento", event
      - else
        %td= link_to event.event_type.short_name, event
      %td= event.city
      %td= event.country.name unless event.country.nil?
      %td 
        -if event.visibility_type == "pu"
          Público
        -elsif event.visibility_type == "pr"
          Privado
        -elsif event.visibility_type == "co"
          Comunitario
      %td 
        -if event.draft
          Borrador
        -else
          Publicado
      %td= link_to 'Ver', event
      %td= link_to 'Modificar', edit_event_path(event)
