%p#notice= notice

%p
  %b Name:
  - if @event.event_type.nil?
    = "Sin Tipo de Evento"
  - else
    = @event.event_type.name
%p
  %b Date:
  = @event.date
%p
  %b Place:
  = @event.place
%p
  %b Capacity:
  = @event.capacity
%p
  %b City:
  = @event.city
%p
  %b Country:
  = @event.country
%p
  %b Trainer:
  = @event.trainer.name
%p
  %b Type:
  = @event.visibility_type
%p
  %b List price:
  = @event.list_price
%p
  %b Eb price:
  = @event.eb_price
%p
  %b Eb end date:
  = @event.eb_end_date
%p
  %b Description:
  - if @event.event_type.nil?
    = "Sin Tipo de Evento"
  - else
    = @event.event_type.description
%p
  %b Recipients:
  - if @event.event_type.nil?
    = "Sin Tipo de Evento"
  - else
    = @event.event_type.recipients
%p
  %b Program:
  - if @event.event_type.nil?
    = "Sin Tipo de Evento"
  - else
    = @event.event_type.program
%p
  %b Draft:
  = @event.draft
%p
  %b Cancelled:
  = @event.cancelled

= link_to 'Modificar', edit_event_path(@event)
\|
= link_to 'Volver', events_path
