.page-header
  %h1.pull-left
    %i.icon-cogs
    %span Roles

= render '/commons/not_migrated_yet'

%p.record-actions
  = link_to t('formtastic.actions.new'), new_role_path

%table
  %tr
    %th= t('formtastic.labels.role.name')
    %th
    %th
    %th

  - @roles.each do |role|
    %tr
      %td= role.name
      %td= link_to t('action.link.role.show'), role
      %td= link_to t('action.link.role.edit'), edit_role_path(role)
      %td= link_to t('action.link.role.destroy'), role, :confirm => 'Are you sure?', :method => :delete