.page-header
  %h1.pull-left
    %i.icon-cogs
    %span Roles

= render '/commons/not_migrated_yet'

%p#notice= notice

%p
  %b Name:
  = @role.name

= link_to 'Edit', edit_role_path(@role)
\|
= link_to 'Back', roles_path
