- @event_type.errors.full_messages.each do |msg|
  .alert.alert-error
    %a.close{ "data-dismiss" => :alert, :href => "#" } &times;
    =msg

.row-fluid
  .span12.box
    .box-header.red-background
      .title
        .icon-edit
          = @event_type.name.nil? ? "Nuevo Tipo de Evento" : @event_type.name
    .box-content
      = form_for @event_type do |f|
        %fieldset.inputs
          .row-fluid
            .span8
              .control-group
                %label.control-label{ :for => :name }= t("formtastic.labels.event_type.name") + " (*)"
                = f.text_field :name, :class => 'datepicker-class input-xxlarge'
            .span4
              .control-group
                %label.control-label{ :for => :duration }= t("formtastic.labels.event_type.duration") + " (*)"
                = f.text_field :duration, :class => 'datepicker-class input-mini'
          .row-fluid
            .span3
              .control-group
                %label.control-label
                  = t("formtastic.labels.event_type.trainers") + " (*)"
                .controls
                - for trainer in @trainers
                  %label.checkbox
                    = check_box_tag "event_type[trainer_ids][]", trainer.id, @event_type.trainers.include?(trainer)
                    = trainer.name
            .span3
              .control-group
                %label.control-label
                  = t("formtastic.labels.event_type.categories") + " (*)"
                .controls
                - for category in @categories
                  %label.checkbox
                    = check_box_tag "event_type[category_ids][]", category.id, @event_type.categories.include?(category)
                    = category.name
            .span3
              .control-group
                %label.control-label{ :for => :include_in_catalog }= t("formtastic.labels.event_type.include_in_catalog")
                = f.check_box :include_in_catalog
            .span3
              .control-group
                %label.control-label{ :for => :tag_name }= t("formtastic.labels.event_type.tag_name")
                = f.text_field :tag_name, :class => 'input-block-level'
                %small.muted
                  Del tipo "C-XYZ (Descripción)", por ejemplo: "C-CSM (Certified ScrumMaster)"
          .row-fluid
            .span12
              .control-group
                %label.control-label{ :for => :elevator_pitch }= t("formtastic.labels.event_type.elevator_pitch") + " (*)"
                = f.text_area :elevator_pitch, :rows => 4, :class => "input-block-level"
                %small.muted
                  No más de dos párrafos. Texto plano,
                  %strong sin HTML ni Markdown.
                  Este texto será lo primero que se muetra en el tab de "Descripción", en kleer.la. También será utilizado en las
                  %a{ :href => "https://dev.twitter.com/docs/cards", :target => "_blank"}Twittercards
          .row-fluid
            .span6
              .control-group
                %label.control-label{ :for => :goal }= t("formtastic.labels.event_type.goal")
                = f.text_area :goal, :rows => 8, :class => "input-block-level"
                %small.muted Se eliminará esta campo en Septiembre 2013. Por favor, mover el texto a otro lado, por ejemplo, a "Descripción".
            .span6
              .control-group
                %label.control-label{ :for => :description }= t("formtastic.labels.event_type.description") + " (*)"
                = f.text_area :description, :rows => 8, :class => "input-block-level"
                %small.muted 
                  Este texto soporta 
                  %a{ :href => "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", :target => "_blank"}Markdown 
                  y HTML. Se mostrará inmediátamente después del "Elevator Pitch", en el tab de "Descripción", en kleer.la.
          .row-fluid
            .span6
              .control-group
                %label.control-label{ :for => :recipients }= t("formtastic.labels.event_type.recipients") + " (*)"
                = f.text_area :recipients, :rows => 8, :class => "input-block-level"
                %small.muted 
                  Este texto soporta 
                  %a{ :href => "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", :target => "_blank"}Markdown 
                  y HTML. Se mostrará en su própio tab ("Destinado A"), en kleer.la.
            .span6
              .control-group
                %label.control-label{ :for => :program }= t("formtastic.labels.event_type.program") + " (*)"
                = f.text_area :program, :rows => 8, :class => "input-block-level"
                %small.muted 
                  Este texto soporta 
                  %a{ :href => "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", :target => "_blank"}Markdown 
                  y HTML. Se mostrará en su própio tab ("Programa"), en kleer.la.
          .row-fluid
            .span6
              .control-group
                %label.control-label{ :for => :learnings }= t("formtastic.labels.event_type.learnings")
                = f.text_area :learnings, :rows => 8, :class => "input-block-level"
                %small.muted 
                  Este texto soporta 
                  %a{ :href => "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", :target => "_blank"}Markdown 
                  y HTML. En el caso de que exista, se mostrará en el tab "Descripción", en kleer.la, dentro de un recuadro amarillo.
            .span6
              .control-group
                %label.control-label{ :for => :takeaways }= t("formtastic.labels.event_type.takeaways")
                = f.text_area :takeaways, :rows => 8, :class => "input-block-level"
                %small.muted 
                  Este texto soporta 
                  %a{ :href => "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", :target => "_blank"}Markdown 
                  y HTML. En el caso de que exista, se mostrará en el tab "Descripción", en kleer.la, dentro de un recuadro rosa.
          .row-fluid
            .span6
              .control-group
                %label.control-label{ :for => :faq }= t("formtastic.labels.event_type.faq")
                = f.text_area :faq, :rows => 8, :class => "input-block-level"
                %small.muted 
                  Este texto soporta 
                  %a{ :href => "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", :target => "_blank"}Markdown 
                  y HTML. Se mostrará en su própio tab ("Preguntas Frecuentes"), en kleer.la.
            .span6
              .control-group
                %label.control-label{ :for => :materials }= t("formtastic.labels.event_type.materials")
                = f.text_area :materials, :rows => 8, :class => "input-block-level"
                %small.muted 
                  Este texto soporta 
                  %a{ :href => "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", :target => "_blank"}Markdown 
                  y HTML. Uso interno, por ahora no se muestra en ningún lado.
          .row-fuid
            .span12
              .form-actions
                .text-right
                  %button.btn.btn-primary.btn-large{:id => "guardar", :name => "commit", :type => "submit"}
                    %i.icon-save
                    Guardar
                  %a.btn.btn-large{ :href => events_path }
                    %i.icon-undo
                    Cancelar
