= semantic_form_for @event_type do |f|
  = f.inputs do
    = f.input :name
    = f.input :goal
    = f.input :description
    = f.input :recipients
    = f.input :program
  
  = f.buttons do
    = f.commit_button
