= "Hola " + @participant.fname
===============================================
Queremos avisarte que estamos iniciando el webinar
= @participant.event.event_type.name
= "facilitado por #{@participant.event.trainer.name}"

Sigue el siguiente Link para verlo en vivo:
= @webinar_link

Cualquier consulta que tengas no dudes en contactarnos :)
Te esperamos!

Kleer - Agile Coaching & Training
website | http://www.kleer.la
facebook | http://www.facebook.com/kleer.la
twitter | https://twitter.com/kleer_la
