= "Hola " + @participant.fname
===============================================

Gracias por haber participado en el evento 
= @participant.event.event_type.name
= "facilitado por #{@participant.event.trainer.name}"

Sigue el siguiente Link para obtener tu certificado de asistencia:
Tamaño A4:
= @certificate_link_A4
Tamaño Carta:
= @certificate_link_LETTER

Cualquier consulta que tengas no dudes en contactarnos.
Saludos!

Kleer - Agile Coaching & Training
website | http://www.kleer.la
facebook | http://www.facebook.com/kleer.la
twitter | https://twitter.com/kleer_la
