= "Hola #{@participant.fname},"
= " "
= "¡Gracias por tu interés!"
= " "
= "El evento #{@participant.event.event_type.name} será facilitado por #{@participant.event.trainer.name} el día #{@participant.event.human_date} de #{@participant.event.start_time.strftime( '%H:%M' )} a #{@participant.event.end_time.strftime( '%H:%M' )} hs."
= " " 
= "Lugar: #{@participant.event.place}"
= "Dirección: #{@participant.event.address}, #{@participant.event.city}, #{@participant.event.country.name}"
= " "
- if @participant.event.custom_prices_email_text.nil? || @participant.event.custom_prices_email_text == ""
  Inversión
  - if !@participant.event.eb_price.nil? && @participant.event.eb_price > 0
    ="Pronto pago: (#{@participant.event.currency_iso_code}) #{currency_symbol_for(@participant.event.currency_iso_code)} #{sprintf("%05.2f", @participant.event.eb_price)} abonando antes del #{@participant.event.eb_end_date.strftime('%d-%b-%Y')}."
  ="Precio de Lista: (#{@participant.event.currency_iso_code}) #{currency_symbol_for(@participant.event.currency_iso_code)} #{sprintf("%05.2f", @participant.event.list_price)}."
  = " "
  - if (!@participant.event.list_price_2_pax_discount.nil? && @participant.event.list_price_2_pax_discount > 0) || (!@participant.event.list_price_3plus_pax_discount.nil? && @participant.event.list_price_3plus_pax_discount > 0)
    Descuentos sobre precio de lista:
    - if !@participant.event.list_price_2_pax_discount.nil? && @participant.event.list_price_2_pax_discount > 0
      = "#{@participant.event.list_price_2_pax_discount}% dto. para 2 personas."
    - if !@participant.event.list_price_3plus_pax_discount.nil? && @participant.event.list_price_3plus_pax_discount > 0
      = "#{@participant.event.list_price_3plus_pax_discount}% dto. para 3 o más personas."
- else
  = @participant.event.custom_prices_email_text
= " "

Formas de pago: tarjeta de crédito, transferencia bancaria o cheque
- if !@participant.event.country.iso_code == 'AR'
  (Más información: http://www.kleer.la/es/preguntas-frecuentes/facturacion-pagos-argentina).

Envianos un mensaje a entrenamos@kleer.la con la forma de pago que prefieras.

Mientras tanto, te reservaremos un lugar para este evento por las próximas 48 horas.

No dudes en contactarnos por cualquier consulta que tengas :)

!Te esperamos!
= " "
Kleer - Agile Coaching & Training
website | http://www.kleer.la
facebook | http://www.facebook.com/kleer.la
twitter | https://twitter.com/kleer_la
