= "Hola " + @participant.fname
===============================================
Recibimos tu inscripción al evento llamado
= @participant.event.event_type.name
= "que será facilitado por #{@participant.event.trainer.name}"
= "el día #{@participant.event.human_date} de #{@participant.event.start_time.strftime( '%H:%M' )} a #{@participant.event.end_time.strftime( '%H:%M ' )} hs."
= "[#{@participant.event.place}]."

= "El evento se llevará a cabo en #{@participant.event.place}"
= "Dirección: #{@participant.event.address}, #{@participant.event.city}, #{@participant.event.country.name}"

= "El precio de lista es: (#{@participant.event.currency_iso_code}) #{currency_symbol_for(@participant.event.currency_iso_code)} #{sprintf("%05.2f", @participant.event.list_price)}, y, si pagas antes del #{@participant.event.eb_end_date}, el precio es #{@participant.event.eb_price}"

Cualquier consulta que tengas no dudes en contactarnos :)
Te esperamos!

Kleer - Agile Coaching & Training
website | http://www.kleer.la
facebook | http://www.facebook.com/kleer.la
twitter | https://twitter.com/kleer_la
