%table{ :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600", :style => "font-size:medium;font-family:'Times New Roman';border:1px solid rgb(221,221,221)" }
  %tbody
    %tr
      %td{ :align => "center", :valign => "top", :style => "border-collapse:collapse" }
        %table{ :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600", :style => "border-bottom-width:0px" }
          %tbody
            %tr
              %td{ :style => "font-family:Arial;border-collapse:collapse;color:rgb(32,32,32);font-weight:bold;line-height:34px;padding:0px;text-align:center;vertical-align:middle" }
                %img{ :src => "https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/98726a706d87424c18b69e332/images/top_mensual.jpg", :alt => "", :border => "0", :style => "border:0px;min-height:auto;outline:none;margin:0px;padding:0px" }
    %tr
      %td{ :align => "center", :valign => "top", :style => "border-collapse:collapse" }
        %table{ :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600" }
          %tbody
            %tr
              %td{ :valign => "top", :style => "border-collapse:collapse" }
                %table{ :border => "0", :cellpadding => "0", :cellspacing => "0" }
                  %tbody
                    %tr
                      %td{ :valign => "top", :style => "border-collapse:collapse" }
                        %table{ :border => "0", :cellpadding => "20", :cellspacing => "0", :width => "100%" }
                          %tbody
                            %tr
                              %td{ :valign => "top", :style => "border-collapse:collapse" }
                                %div{ :style => "background-color:rgb(110, 233, 241);margin-bottom:20px;padding:10px;font-size:34px;" }
                                  %font{ :face => "courier new, courier, monospace", :size => "5" }
                                    %span{ :style => "line-height: 21.99652862548828px;" }
                                    = @participant.event.event_type.name
                                %div{ :style => "font-family:Verdana;font-size:12px" }
                                  = "Hola " + @participant.fname + ","
                                  %br
                                  %br
                                  Recibimos tu inscripción al evento llamado 
                                  %b= @participant.event.event_type.name
                                  que será facilitado por  
                                  %b= @participant.event.trainer.name
                                  ="el día " + @participant.event.human_date + " de " + @participant.event.start_time.strftime( '%H:%M' ) + " a " + @participant.event.end_time.strftime( '%H:%M ' ) + "hs."
                                  %br
                                  %br
                                  %b
                                    Lugar:
                                  =" #{@participant.event.place}"
                                  %br
                                  %b
                                    Dirección:
                                  =" #{@participant.event.address}, #{@participant.event.city}, #{@participant.event.country.name}"
                                  %br
                                  %br
                                  %b
                                    Inversión:
                                  %br
                                  ="Hasta el #{@participant.event.eb_end_date} (#{@participant.event.currency_iso_code}) #{currency_symbol_for(@participant.event.currency_iso_code)} #{sprintf("%05.2f", @participant.event.eb_price)}" unless @participant.event.eb_price.nil? || @participant.event.eb_price == 0
                                  %br
                                  ="Precio de lista (#{@participant.event.currency_iso_code}) #{currency_symbol_for(@participant.event.currency_iso_code)} #{sprintf("%05.2f", @participant.event.list_price)}"
                                  %br
                                  %br
                                  Cualquier consulta que tengas no dudes en contactarnos :)
                                  %br
                                  Te esperamos!
                                  %br
                                  %br
                                  %strong Kleer - Agile Coaching & Training
                                  %br
                                  = "website | "
                                  %a{ :href => "http://www.kleer.la", :target => "_blank" }
                                    http://www.kleer.la
              %td{ :valign => "top", :width => "200", :style => "border-collapse:collapse;border-left-width:0px" }
                %table{ :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "200" }
                  %tbody
                    %tr
                      %td{ :valign => "top", :style => "border-collapse:collapse" }
                        %table{ :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%" }
                          %tbody
                            %tr
                              %td{ :valign => "top", :style => "border-collapse:collapse;padding-top:20px;padding-right:20px;padding-left:20px" }
                                %table{ :border => "0", :cellpadding => "0", :cellspacing => "4" }
                                  %tbody
                                    %tr
                                      %td{ :align => "left", :valign => "middle", :width => "24", :style => "border-collapse:collapse;padding-bottom:5px" }
                                        %img{ :src => "https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/cdn-images.mailchimp.com/icons/social-block/color-facebook-128.png", :width => "24", :style => "border:0px;line-height:16px;outline:none;display:inline;min-height:auto!important;margin:0px!important" }
                                      %td{ :align => "left", :valign => "middle", :style => "border-collapse:collapse;padding-bottom:5px" }
                                        %div{ :style => "color:rgb(80,80,80);font-family:Arial;font-size:12px;line-height:18px" }
                                          %a{ :href => "http://www.facebook.com/kleer.la", :style => "color:rgb(51,102,153)", :target => "_blank" }
                                            facebook.com/kleer.la
                                    %tr
                                      %td{ :align => "left", :valign => "middle", :width => "24", :style => "border-collapse:collapse;padding-bottom:5px" }
                                        %img{ :src => "https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/cdn-images.mailchimp.com/icons/social-block/color-twitter-128.png", :width => "24", :style => "border:0px;line-height:16px;outline:none;display:inline;min-height:auto!important;margin:0px!important" }
                                      %td{ :align => "left", :valign => "middle", :style => "border-collapse:collapse;padding-bottom:5px" }
                                        %div{ :style => "color:rgb(80,80,80);font-family:Arial;font-size:12px;line-height:18px" }
                                          %a{ :href => "https://twitter.com/kleer_la/", :style => "color:rgb(51,102,153)", :target => "_blank" }
                                            @kleer_la
                                    %tr
                                      %td{ :align => "left", :valign => "middle", :width => "24", :style => "border-collapse:collapse;padding-bottom:5px" }
                                        %img{ :src => "https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/cdn-images.mailchimp.com/icons/social-block/color-forwardtofriend-128.png", :width => "24", :style => "border:0px;line-height:16px;outline:none;display:inline;min-height:auto!important;margin:0px!important" }
                                      %td{ :align => "left", :valign => "middle", :style => "border-collapse:collapse;padding-bottom:5px" }
                                        %div{ :style => "color:rgb(80,80,80);font-family:Arial;font-size:12px;line-height:18px" }
                                          %a{ :href => "mailto:entrenamos@kleer.la", :target => "_blank" } entrenamos@kleer.la
                        %table{ :border => "0", :cellpadding => "20", :cellspacing => "0", :width => "100%" }
                          %tbody
                            %tr
                              %td{ :valign => "top", :style => "border-collapse:collapse" }
                                %img{ :src => "https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/gallery.mailchimp.com/98726a706d87424c18b69e332/images/munieco.2.png", :alt => "", :border => "0", :width => "160", :height => "304", :style => "border:0px none;min-height:304px;line-height:16px;outline:none;display:inline;width:160px;margin:0px;padding:0px;max-width:160px" }
