= "Hola " + @participant.fname
===============================================
Recibimos tu inscripción al webinar llamado
= @participant.event.event_type.name
= "que será facilitado por #{@participant.event.trainer.name}"
= "el día #{@participant.event.human_date} de #{@participant.event.start_time.strftime( '%H:%M' )} a #{@participant.event.end_time.strftime( '%H:%M ' )} hs."
= "[#{@participant.event.place}]."

="Unos momentos antes del comienzo enviaremos a tu cuenta de mail (#{@participant.email}) un link mediante el cual podrás acceder al webinar."

Cualquier consulta que tengas no dudes en contactarnos :)
Te esperamos!

Kleer - Agile Coaching & Training
website | http://www.kleer.la
facebook | http://www.facebook.com/kleer.la
twitter | https://twitter.com/kleer_la
