- @category.errors.full_messages.each do |msg|
  .alert.alert-error
    %a.close{ "data-dismiss" => :alert, :href => "#" } &times;
    =msg

.row-fluid
  .span12.box
    .box-header.red-background
      .title
        .icon-edit
          = @category.name.nil? ? t("formtastic.labels.category.new_title") : @category.name
    .box-content
      = form_for @category do |f|
        %fieldset.inputs
          .row-fluid
            .span8
              .control-group
                %label.control-label{ :for => :name }= t("formtastic.labels.category.name") + " (*)"
                = f.text_field :name, :class => 'input-xxlarge'

          .row-fluid
            .span8
              .control-group
                %label.control-label{ :for => :name_en }= t("formtastic.labels.category.name_en")
                = f.text_field :name_en, :class => 'input-xxlarge'

          .row-fluid
            .span8
              .control-group
                %label.control-label{ :for => :codename }= t("formtastic.labels.category.codename") + " (*)"
                = f.text_field :codename
          .row-fluid
            .span8
              .control-group
                %label.control-label{ :for => :tagline }= t("formtastic.labels.category.tagline") + " (*)"
                = f.text_field :tagline, :class => 'input-xxlarge'
          .row-fluid
            .span8
              .control-group
                %label.control-label{ :for => :tagline_en }= t("formtastic.labels.category.tagline_en")
                = f.text_field :tagline_en, :class => 'input-xxlarge'
          .row-fluid
            .span3
              .control-group
                %label.control-label{ :for => :visible }= t("formtastic.labels.category.visible") + " (*)"
                = f.check_box :visible
          .row-fluid
            .span8
              .control-group
                %label.control-label{ :for => :order }= t("formtastic.labels.category.order") + " (*)"
                = f.text_field :order
          .row-fluid
            .span6
              .control-group
                %label.control-label{ :for => :description }= t("formtastic.labels.category.description") + " (*)"
                = f.text_area :description, :rows => 8, :class => "input-block-level"
                %small.muted 
                  Este texto soporta 
                  %a{ :href => "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", :target => "_blank"}Markdown 
                  y HTML.
          .row-fluid
            .span6
              .control-group
                %label.control-label{ :for => :description_en }= t("formtastic.labels.category.description_en") + " (*)"
                = f.text_area :description_en, :rows => 8, :class => "input-block-level"
                %small.muted 
                  Este texto soporta 
                  %a{ :href => "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", :target => "_blank"}Markdown 
                  y HTML. 
          .row-fuid
            .span12
              .form-actions
                .text-right
                  %button.btn.btn-primary.btn-large{:id => "guardar", :name => "commit", :type => "submit"}
                    %i.icon-save
                    Guardar
                  %a.btn.btn-large{ :href => categories_path }
                    %i.icon-undo
                    Cancelar
