.page-header
  %h1.pull-left
    %i.icon-sitemap
    %span Categorías

= render '/commons/not_migrated_yet'

%p.record-actions
  = link_to t('formtastic.actions.new'), new_category_path

%table
  %tr
    %th Nombre
    %th Código
    %th Descripción
    %th
    %th

  - @categories.each do |category|
    %tr
      %td= category.name
      %td= category.codename
      %td= category.description
      %td= link_to 'Modificar', edit_category_path(category)
      %td= link_to 'Borrar', category, method: :delete, data: { confirm: 'Seguro?' }
