%p#notice= notice

%p
  %b Name:
  = @category.name
%p
  %b Name EN:
  = @category.name_en
%p
  %b Codename:
  = @category.codename
%p
  %b Tagline:
  = @category.tagline
%p
  %b Tagline EN:
  = @category.tagline_en
%p
  %b Description:
  = @category.description
%p
  %b Description EN:
  = @category.description_en

= link_to 'Edit', edit_category_path(@category)
\|
= link_to 'Back', categories_path
