%p#notice= notice

%p
  %b Name:
  = @category.name
%p
  %b Codename:
  = @category.codename
%p
  %b Tagline:
  = @category.tagline
%p
  %b Description:
  = @category.description

= link_to 'Edit', edit_category_path(@category)
\|
= link_to 'Back', categories_path
