= semantic_form_for @trainer do |f|
  - f.inputs :trainer_details do
    .grid_12
      = f.input :name, :input_html => { :size => 40 }
      = f.input :bio
      = f.input :gravatar_email
      = f.input :twitter_username
      = f.input :linkedin_url
      = f.input :tag_name
      = f.input :is_kleerer, :as => :boolean
      = f.input :country, :as => :select, :collection => Country.find(:all)
      = f.actions
      = link_to t('formtastic.actions.cancel'), trainers_path
