%h1= t('title.trainer.index')

%p.record-actions
  = link_to t('formtastic.actions.new'), new_trainer_path

%table
  %tr
    %th= t('formtastic.labels.name')
    %th.record-actions
   
  - @trainers.each do |trainer|
    %tr
      %td= link_to trainer.name, trainer
      %td.record-actions
        = link_to t('formtastic.actions.view'), trainer
        = link_to t('formtastic.actions.edit'), edit_trainer_path(trainer)
        = link_to t('formtastic.actions.destroy'), trainer, :confirm => t('confirm.sure'), :method => :delete

