.page-header
  %h1.pull-left
    %i.icon-briefcase
    %span Entrenadores

= render '/commons/not_migrated_yet'


%p.record-actions
  = link_to t('formtastic.actions.new'), new_trainer_path

%table
  %tr
    %th= t('formtastic.labels.name')
    %th.record-actions
   
  - @trainers.each do |trainer|
    %tr
      %td= link_to trainer.name, trainer
      %td.record-actions
        = link_to t('formtastic.actions.view'), trainer
        = link_to t('formtastic.actions.edit'), edit_trainer_path(trainer)
        = link_to t('formtastic.actions.destroy'), trainer, :confirm => t('confirm.sure'), :method => :delete

