%h1= t('title.trainer.show')

%p
  %b= t('formtastic.labels.name') + ": "
  = @trainer.name

= link_to t('formtastic.actions.edit'), edit_trainer_path(@trainer)
\|
= link_to t('formtastic.actions.cancel'), trainers_path
