!!!
%html{html_attrs(I18n.locale)}
  
  %head
    %title
      = (yield(:title) || t('title.untitled'))
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = #stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "application"
    = #stylesheet_link_tag "formtastic_changes"
    = #javascript_include_tag "application"
    = javascript_include_tag "application"
    = javascript_include_tag "jquery.rails"
    = #
    = csrf_meta_tags
	
    = yield(:head)
  
  - if !user_signed_in?
    %body.sign-in
      #wrapper
        = yield
  - else
    %body
      %header
        .navbar
          .navbar-inner
            .container-fluid
              %a.brand{ :href => "/"}
                %i.icon-calendar
                %span.hidden-phone Keventer
              %a.toggle-nav.btn.pull-left{ :href => '#' }
                %i.icon-reorder
              %ul.nav.pull-right
                %li.dropdown.dark.user-menu
                  %a.dropdown-toggle{ "data-toggle" => "dropdown", :href => "#" }
                    %i.icon-user
                    %span.user-name.hidden-phone Mi Cuenta
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{ :href => "#" }
                        %i.icon-cog
                        Cambiar Clave
                    %li.divider
                    %li
                      %a{ :href => destroy_user_session_path,  "data-method" => :delete, :rel => :nofollow }
                        %i.icon-signout
                        = t('menu.exit')
      .wrapper
        - if user_signed_in?
          = render '/commons/menu'
        %section#content
          .container-fluid
            .row-fluid#content-wrapper
              .span12
                = yield
