!!!
%html{html_attrs(I18n.locale)}
  
  %head
    %title
      = (yield(:title) || t('title.untitled'))
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "jquery-ui-1.8.17.custom"
    = stylesheet_link_tag "formtastic_changes"
    = javascript_include_tag "application"
    = csrf_meta_tags
	
    = yield(:head)
  
  %body
    #container
      #header
        = link_to image_tag('eventer_logo.jpg'), root_path
        
        - if user_signed_in?
          = render '/commons/menu'
        
    
      #content{ :class => 'grid_12' }
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        = " "
      
        %h1= yield(:title)
      
        = yield

      #footer Copyleft - #{t('footer.help')}


