!!!
%html{html_attrs(I18n.locale)}
  
  %head
    %title
      = (yield(:title) || t('title.untitled'))
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    = csrf_meta_tags
    %link{ :href => 'http://fonts.googleapis.com/css?family=Dosis:600', :rel => 'stylesheet', :type => 'text/css'}
    %link{ :href => 'http://fonts.googleapis.com/css?family=Dosis', :rel => 'stylesheet', :type => 'text/css'}
    -# %script{ :src => "/assets/jquery.js", :type => "text/javascript"}
    -# %script{ :src => "/assets/jquery_ujs.js", :type => "text/javascript"}
    = javascript_include_tag "application"
    :css
      html { background: #ffffff; }
      body { width: 800px; margin: 0 auto; }
      #header, #footer, #container { width: 800px; }
      h1, h2, h3, h4, h5, h6 {font-family: 'Dosis'; font-weight: 400;}
      #container { margin-left: auto;  margin-right: auto;  width: 960px; }
      #container enumerate(.grid, #container 1, #container 12, #container _) { display: inline;  float: left;  margin-left: 10px;  margin-right: 10px; }
      #container .grid_1 { display: inline;  float: left;  margin-left: 10px;  margin-right: 10px;  width: 60px; }
      #container .grid_2 { display: inline;  float: left;  margin-left: 10px;  margin-right: 10px;  width: 140px; }
      #container .grid_3 { display: inline;  float: left;  margin-left: 10px;  margin-right: 10px;  width: 220px; }
      #container .grid_4 { display: inline;  float: left;  margin-left: 10px;  margin-right: 10px;  width: 300px; }
      #container .grid_5 { display: inline;  float: left;  margin-left: 10px;  margin-right: 10px;  width: 380px; }
      #container .grid_6 { display: inline;  float: left;  margin-left: 10px;  margin-right: 10px;  width: 460px; }
      #container .grid_7 { display: inline;  float: left;  margin-left: 10px;  margin-right: 10px;  width: 540px; }
      #container .grid_8 { display: inline;  float: left;  margin-left: 10px;  margin-right: 10px;  width: 620px; }
      #container .grid_9 { display: inline;  float: left;  margin-left: 10px;  margin-right: 10px;  width: 700px; }
      #container .grid_10 { display: inline;  float: left;  margin-left: 10px;  margin-right: 10px;  width: 780px; }
      #container .grid_11 { display: inline;  float: left;  margin-left: 10px;  margin-right: 10px;  width: 860px; }
      #container .grid_12 { display: inline;  float: left;  margin-left: 10px;  margin-right: 10px;  width: 940px; }
      #container .prefix_1 { padding-left: 80px; }
      #container .prefix_2 { padding-left: 160px; }
      #container .prefix_3 { padding-left: 240px; }
      #container .prefix_4 { padding-left: 320px; }
      #container .prefix_5 { padding-left: 400px; }
      #container .prefix_6 { padding-left: 480px; }
      #container .prefix_7 { padding-left: 560px; }
      #container .prefix_8 { padding-left: 640px; }
      #container .prefix_9 { padding-left: 720px; }
      #container .prefix_10 { padding-left: 800px; }
      #container .prefix_11 { padding-left: 880px; }
      #container .suffix_1 { padding-right: 80px; }
      #container .suffix_2 { padding-right: 160px; }
      #container .suffix_3 { padding-right: 240px; }
      #container .suffix_4 { padding-right: 320px; }
      #container .suffix_5 { padding-right: 400px; }
      #container .suffix_6 { padding-right: 480px; }
      #container .suffix_7 { padding-right: 560px; }
      #container .suffix_8 { padding-right: 640px; }
      #container .suffix_9 { padding-right: 720px; }
      #container .suffix_10 { padding-right: 800px; }
      #container .suffix_11 { padding-right: 880px; }
      #container .alpha { margin-left: 0; }
      #container .omega { margin-right: 0; }
  
    = yield(:head)
  
  %body
    #container
      
      #content{ }
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        = " "
      
        %h1= yield(:title)
      
        = yield